.idea
*.pdf
wordpress/*.log
wordpress/sitemap.xml
wordpress/sitemap.xml.gz
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php
!wordpress/evidena/.htaccess
!wordpress/evidena/wp-content/plugins/akismet/.htaccess
!wordpress/evidena/wp-content/uploads/ai-builder/.htaccess
!wordpress/evidena/wp-content/uploads/astra-sites/.htaccess
!wordpress/evidena/wp-content/uploads/wpforms/.htaccess
!wordpress/evidena/wp-content/uploads/wpforms/cache/.htaccess
!wordpress/wp-content/plugins/akismet/.htaccess
wordpress/wp-config-ddev.php
wordpress/wp-content/plugins/*/node_modules/
*.sql
test-media
wordpress/wp-content/plugins/kivicare-clinic-management-system/0.js
wordpress/wp-content/plugins/kivicare-clinic-management-system/1.js
wordpress/wp-content/plugins/kivicare-clinic-management-system/2.js